<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/login">Login Page</a>
  <a mat-list-item routerLink="/numbers">Numbers Page</a>
  <a mat-list-item href="#">Link 3</a>
</mat-nav-list>

<mat-list>
  <mat-list-item>
    <mat-slide-toggle (change)="toggleLongPolling$.emit($event.checked)">
      Start/stop long polling
    </mat-slide-toggle>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <div>
      <p>Is online: {{ onlineStatus$ | async }}
        <br>
        <small>(refreshed every 2seconds)</small>
      </p>
    </div>

  </mat-list-item>

  <mat-list-item>
    <mat-slide-toggle [checked]="onlineStatus$ | async" (change)="toggleOnline$.emit($event.checked)">
      Online
    </mat-slide-toggle>
  </mat-list-item>
</mat-list>
